{% assign _av = site.data.videos[ include.src ] %}
{% assign _avsrc = _av.ytube %}
<div class="videobox" style="background-color:#ace;padding:5px 10px;">
  <a href="https://youtu.be/{{ _avsrc }}"
  target="_BLANK" alt="{{ _avsrc }}">
  Click to open Youtube {{ _avsrc }}</a>

  <iframe width="525" height="394" frameborder="0" allowfullscreen
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
  src="https://www.youtube.com/embed/{{ _avsrc }}"></iframe>

  <div style="font-size:0.8em;line-height:1.1em;display:none;"><i>
  NOTE: Because of its size, this video may take several minutes to load.
  The player may stop several times until the download finishes.
  When it stops, you can use the slider to replay the first part while you
  wait, or just leave the page open & check back in a few minutes.
  Once it loads, you can play the entire video.
  </i></div>
</div>
